In [32]:
import pandas as pd

In [33]:
#File to load
file_to_load = "/Users/marinaduarte/Documents/nu-chi-data-pt-09-2020-u-c/04-Pandas/HW/Instructions/HeroesOfPymoli/Resources/purchase_data.csv"
#Read purchasing file and store into pandas datafram
purchase_data = pd.read_csv(file_to_load)

In [34]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [35]:
print("Number of players: ", purchase_data['SN'].nunique(dropna=True))

Number of players:  576

In [36]:
number_of_players = purchase_data['SN'].nunique(dropna=True)
number_of_playersDF = pd.DataFrame({"Number Of Players": [number_of_players]})
number_of_playersDF

   Number Of Players
0                576

In [42]:
number_of_unique_items = purchase_data['Item Name'].nunique(dropna=True)
average_price = purchase_data['Price'].mean()
number_of_purchases = purchase_data['Purchase ID'].count()
total_revenue = purchase_data['Price'].sum()
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [number_of_unique_items],
                                   "Average Price": [average_price],
                                   "Number of purchases": [number_of_purchases],
                                   "Total Revenue": [total_revenue]})
purchasing_analysis

   Number of Unique Items  Average Price  Number of purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [94]:
total_count = purchase_data.groupby(['Gender'])[['SN']].count()
total_count

                        SN
Gender
Female                 113
Male                   652
Other / Non-Disclosed   15

In [87]:
total_count['SN'].sum()

780

In [90]:
total_count['percentage'] = (total_count['SN']/total_count['SN'].sum())*100
print(total_count)

                        SN  percentage
Gender
Female                 113   14.487179
Male                   652   83.589744
Other / Non-Disclosed   15    1.923077

In [91]:
total_countDF = pd.DataFrame(total_count)
total_countDF = total_countDF.rename(columns={"SN": "Total Count", "percentage": "Percentage Of Players"})
total_countDF

                       Total Count  Percentage Of Players
Gender
Female                         113              14.487179
Male                           652              83.589744
Other / Non-Disclosed           15               1.923077